<section id="games">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <md-button class="md-raised md-primary" ng-href="/game/create">Create Game</md-button>  
        <table class="table text-left">
          <tr ng-repeat="(index, value) in gamesList">
            <td>
              <img src="{{value.codemaker.avatar}}">
              {{value.codemaker.name}}
            </td>
            <td>
              <md-button class="md-raised md-primary" ng-hide="value.played" ng-href="/game/{{value.hashed_id}}/play">Play</md-button>
              <md-button class="md-raised md-warn" ng-show="value.played" ng-href="/game/{{value.hashed_id}}/view">View</md-button>
            </td>
          </tr>
        </table>
      </div>  
    </div>
  </div>
</section>